// Colors

// Primary

$desaturatedDarkCyan: hsl(180, 29%, 50%);

// Neutral

$lightGrayishCyanBackground: hsl(180, 52%, 96%);
$lightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
$white: hsl(180, 20%, 99%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

// Typography

$fontSize: 1.5em;