@media only screen and (max-width: 618px) {
    body {
        &.open {
            overflow: hidden;

            .wrapper nav {
                display: flex;
            }

            .wrapper img.menu-open {
                display: none;
            }

            .wrapper img.menu-close {
                display: block;
            }
        }

        header {
            .wrapper img.menu-open {
                display: block;
                position: relative;
                z-index: 3;
            }

            .wrapper img.menu-close {
                display: none;
                z-index: 3;
            }

            .wrapper nav {
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                width: 66vw;
                padding: 1rem;
                background: $offWhite;
                padding-top: 8rem;
                display: none;
                z-index: 2;

                ul {
                    flex-direction: column;
                }
            }
        }

        .container {
            display: flex;
            flex-direction: column;

            .hero .col, .raw {
                display: flex;
                flex-direction: column;
                padding-top: 2em;
                font-size: .8em;
            }
            .raw {
                .news img {
                    max-width: 30%;
                }
                .news h2 {
                    font-size: 2em;
                }
                .news h3 {
                    padding-top: .3em;
                    font-size: 1em;
                }
                .news p {
                    padding-top: .3em;
                    font-size: .8em;
                }
            }
        }
    }
}