:root {
  /* Primary */
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);

  /* Neutral */
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);

  /* Typography */
  --fontSizeQuote: 28px;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Manrope";
  src: url("https://fonts.google.com/specimen/Manrope");
  font-weight: 800;
}

body {
  background-color: var(--darkBlue);
  text-align: center;
}

body .container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grayishBlue);
  min-width: 40%;
  min-height: auto;
  border-radius: 2%;
  padding: 3em;
}

h3 {
  color: var(--neonGreen);
  letter-spacing: .3em;
}

blockquote {
  color: var(--lightCyan);
  padding-top: 2em;
  padding-bottom: 2em;
}

blockquote q {
  font-size: var(--fontSizeQuote);
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider img {
  width: 30%;
}

.line {
  width: 35%;
  height: 0;
  border: .01px solid var(--lightCyan);
}

.icon {
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 3em;
  height: 3em;
  background-color: var(--neonGreen);
  border-radius: 50%;
}

.icon img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon:hover {
  box-shadow:
    0 0 20px 10px var(--lightCyan),
    0 0 30px 15px var(--neonGreen);
}