// Colors

// Primary

$softRed: hsl(10, 79%, 65%);
$softLightRed: hsl(10, 69%, 72%);
$cyan: hsl(186, 34%, 60%);

// Neutral

$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

// Typography

$fontSize: 18px;