@media only screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
}
@media only screen and (max-width: 575px) {
    .container {
        width: 90%;
    }
    .password {
        span {
            font-size: 1.2rem !important;
        }
    }
    .select {     
        form {
            .checkboxes {
                .checkbox {
                    font-size: .8rem !important;
                }
            }
        }
    }
}