/* Colors */
$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;
$neonGreen: #a4ffaf;
$almostWhite: #e6e5ea;
$grey: #817d92;
$darkGrey: #24232c;
$veryDarkGrey: #18171f;

/* Fonts */
$heading: 700 2em "JetBrains Mono", sans-serif;
// $headingM: 700 24px "JetBrains Mono", sans-serif;
// $bodyM: 700 18px "JetBrains Mono", sans-serif;
