*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0px auto;
}

h1 {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 2em;
  color: hsl(0, 0%, 7%);
}

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: hsl(0, 1%, 25%);
  ;
}

h3 span {
  font-style: italic;
  padding-left: 3em;
  font-weight: 200;
  color: hsl(180, 42%, 48%);
}

.homeworks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.homework {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 3em;
  background-color: white;
  text-indent: 1em;
  align-items: center;
}

.homework a {
  display: inline-block;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  margin-right: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a {
  display: inline-block;
  margin-top: 2em;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  color: hsl(180, 11%, 98%);
  background-color: hsl(180, 42%, 48%);
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5em;
  background-color: white;
  min-width: 60%;
  min-height: auto;
  border-radius: 20px;
  padding: 2em;
  gap: 2em;
}

table {
  max-width: 60%;
}

th {
  text-align: left;
  margin-bottom: 2em;
}
tfoot tr td {
  padding-top: 2em;
  color: hsl(180, 29%, 50%);
}

tfoot tr td {
  padding-top: 1em;
  color: hsl(180, 29%, 50%);
}

#totalAmount, #totalEarnings {
  border: 1px solid hsl(180, 29%, 50%);
  color: hsl(180, 42%, 48%);
  text-align: right;
}

input {
  padding-left: .3em;
  padding-right: .3em;
}

input:focus {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
}

button {
  width: 10em;
  margin-top: .5em;
}

#resultArea {
  color: green;
}

.error {
  color: red;
}

.odd-row {
  text-align: center;
  background-color: hsl(180, 38%, 64%);
}

.even-row {
  text-align: center;
  background-color: hsl(180, 52%, 96%);
}

select {
  max-width: 20%;
  padding: .5em;
}

.menus {
  display: flex;
  align-items: flex-end;
  gap: 2em;
}

.menus button {
  width: fit-content;
  padding: .5em;
}
